<form action="file" method="post" enctype="multipart/form-data">
    <input type="file" name="filetoupload"><br>
    <input type="hidden" id="enitiyId" name="enitiyId" value="1">
    <input type="submit">
</form>